body{
    background-color: #00042e;
}

a {
    text-decoration: none;
    color: white;
}

.suporte{
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: 1px solid #000044;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000000;
}

.suporte:hover{
    background-color: #000b52;
    transition: background-color 0.3s ease;
}

.maindiv{
    border: 2px solid white;
    border-radius: 10px;
    text-align: justify;
    color: white;
    margin-top: 150px;
    margin-left: 570px;
    width: 300px;
    height: flex;
    position: absolute;
    font-family: 'roboto', sans-serif;
    display: inline;
    justify-content: center;
    align-items: center;
}

.privacidade{
    display: flex;
}

.privacidade a{
    color: rgb(255, 255, 0);
    text-decoration: underline;
}

.input{
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #000044;
    height: 25px;
    width: 265px;
    padding: 3px;    
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

.finalizar{
    margin-left: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #000044;
    color: white;
    font-family:'roboto', sans-serif;
    width: 90px;
    height: 30px;
}

.finalizar:hover{
    background-color: #ffffff;
    transition: background-color 0.4s ease;
    color: #00042e;
    transition: color 0.4s ease;
}

#esqueci{
    font-size: 5px;
}